:root {
  --main-yellow: #e8d2a6;
  --main-grey: #d9d9d9;
  --main-red: #f48484;
  --main-dark-red: #f55050;
  --main-blue: #86a3b8;
  --main-dark-blue: #5e7281;
  --text-color: #3c2a21;

  --header-one: 4.6rem;
  --text-size: 2.4rem;
}

a {
  text-decoration: none;
}

a :hover {
  text-decoration: underline !important;
  color: var(--text-color);

  /* transition: all 1s ease-in-out; */
}

.pace-left-container {
  height: 100vh;
  background-color: var(--main-yellow);
}

.main-logo-small {
  width: 19.2rem;
  height: 7.4rem;
}

.nav-options {
  margin-top: 8.9rem;
}

.nav-option {
  position: relative;

  margin-bottom: 5rem;
}

.nav-at {
  width: 0.8rem;
  height: 4.4rem;

  background-color: var(--main-red);
  border-radius: 10rem;

  position: absolute;
  left: 0;
}

.bi {
  font-size: 2.4rem;
  color: var(--text-color);

  transform: translateY(-10%);
}

.nav-text {
  margin: 0;
  color: var(--text-color);
  width: 8.2rem;
  text-align: center;

  font-size: var(--text-size);
  font-weight: 700;
}

.nav-at-active {
  color: var(--main-blue) !important;
}
